body{
    font-family: 'Kanit', sans-serif;
    margin: 30px 0px 0px;
}

p{
    text-align: justify;
}

h1{
    font-size: 50px;
}

h2{
    font-size:35px;
}

h3{
    font-size: 30px;
}

.orange{
    color:orange;
}

.link-style{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(219, 11, 11) , rgb(255, 166, 0));
    padding: 10px 25px;
    color:white;
    font-weight:700px;
    border-radius: 25px;
    font-size:1.3em;
}

.flexible{
    display: flex;
    margin-bottom: 75px;
}

.half-part{
    width:50%;
    margin-left: 6%;
    margin-right: 6%;
}

.half-part img{
    width:90%;
}

.bg-image1{
    background-image: url(images/shapes/Group8450.png);
    background-repeat: no-repeat;
    background-size: 35% 90%;
    background-position: right;
    margin-right:30px;

}

.bg-image2{
    background-image: url(images/shapes/8.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.center{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right:25%;
}

.center p{
    text-align:center;
}

.flexible3{
    display:flex; 
    margin-left: 3%;
    margin-right:3%  
}


.flexible3 img{
    width:100%;
    
}

.three-part{
    margin-left: 2%;
    margin-right: 2%;
    border : 15px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 0;
    box-shadow: 7px 7px 20px;
    width:33%;
}



.three-part-bottom{
    margin-left: 5%;
    margin-right: 5%;
    border : 15px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 0;
    box-shadow: 5px 5px 15px;
    width:88%;
}

.flexible3-bottom{
    display:flex;
}

.three-part-bottom-ind{
    width:100%;
    text-align:center;
}
.three-part-bottom-ind p{
    width:100%;
    text-align:center;
}

.one-part-bottom{
   
    
    padding: 0;
    width:100%;
    background-color: rgb(43, 38, 38);
    color:white;
    text-align: center;
}

.one-part-bottom p{
       text-align: center;
}

