body{
    font-family: 'Kanit', sans-serif;
    margin: 30px 50px 75px;
}

p{
    text-align: justify;
}

h1{
    font-size: 50px;
}

h2{
    font-size:35px;
}
.orange{
    color:orange;
}

.link-style{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(219, 11, 11) , rgb(255, 166, 0));
    padding: 10px 25px;
    color:white;
    font-weight:700px;
    border-radius: 25px;
    font-size:1.3em;
}

.flexible{
    display: flex;
    margin-bottom: 75px;
}

.half-part{
    width:50%;
    margin-left: 4%;
    margin-right: 4%;
}

.half-part img{
    width:100%;
}

.bg-image1{
    background-image: url(images/shapes/Group8450.png);
    background-repeat: no-repeat;
    background-size: 35% 90%;
    background-position: right;

}

.bg-image2{
    background-image: url(images/shapes/8.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.center{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right:25%;
}

.center p{
    text-align:center;
}

